<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<footer th:fragment="footer">
  <div class="row">
    <div class="footer-one col-lg-3 col-md-6 col-12">
      <img class="mg" src="https://pbs.twimg.com/profile_images/1135963802258890754/8wt-ffSB_400x400.png" alt="">
      <p class="pt-3">Enroll now to get A to Z seller training from 8-figure Amazon pro and Jungle Scout CEO Greg
        Mercer. From
        product research to scaling your business,
        Freedom Builder Bootcamp boasts over 30 hours of video content.</p>
    </div>
    <div class="footer-one col-lg-3 col-md-6 col-12">
      <h5 class="pb-2">Featured</h5>
      <ul class="text-uppercase list-unstyled">
        <li><a href="#">men</a></li>
        <li><a href="#">women</a></li>
        <li><a href="#">boys</a></li>
        <li><a href="#">girls</a></li>
        <li><a href="#">new arrivals</a></li>
        <li><a href="#">shoes</a></li>
        <li><a href="#">cloths</a></li>
      </ul>

    </div>
    <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
      <h5 class="pb-2">Contact Us</h5>
      <div>
        <h6 class="text-uppercase">Address</h6>
        <p>Tashkent, Olmazor, Qoraqamish 2/1</p>
      </div>
      <div>
        <h6 class="text-uppercase">Phone</h6>
        <p>(998) 97 219 98 98</p>
      </div>
      <div>
        <h6 class="text-uppercase">Email</h6>
        <p>vaxobovsiroj1998@gmail.com</p>
      </div>
      <a style="color: white" href="https://www.instagram.com/vakhobovsiroj/"><img style="width: 30px ; height: 30px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/800px-Instagram_logo_2022.svg.png"></a>
      <a href="https://t.me/V_Siroj9898"><img style="width: 30px ; height: 30px" src="https://st2.depositphotos.com/1998781/11553/v/600/depositphotos_115530432-stock-illustration-aircraft-vector-logo-icon-flat.jpg"></a>
      <a href="https://www.facebook.com/vakhobov.siroj/"><img style="width: 30px ; height: 30px" src="https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Facebook_f_logo_%282021%29.svg/2048px-Facebook_f_logo_%282021%29.svg.png"></a>
    </div>

    <div class="footer-one col-lg-3 col-md-6 col-12">
      <h5 class="pb-2">Instagram</h5>
      <div class="row">
        <img class="img-fluid w-25 h-100 m-2"
             src="https://st.depositphotos.com/1008420/4933/i/950/depositphotos_49333673-stock-photo-zara-for-men-shop.jpg">
        <img class="img-fluid w-25 h-100 m-2"
             src="https://thumbs.dreamstime.com/b/seoul-south-korea-circa-may-inside-zara-store-seoul-zara-spanish-clothing-accessories-retailer-zara-105103169.jpg">
        <img class="img-fluid w-25 h-100 m-2"
             src="https://i.pinimg.com/originals/d9/07/63/d90763824f8f8353c7462f89689d3294.jpg">
        <img class="img-fluid w-25 h-100 m-2"
             src="https://i.pinimg.com/originals/55/f8/0c/55f80c154fb47587f8a2a7ffe7b9379c.jpg">
        <img class="img-fluid w-25 h-100 m-2"
             src="https://fastly.4sqi.net/img/general/600x600/5402621_GNujqtbsBIN6EqNwM5jMzgUOhzjOIv67nUtqbqSB034.jpg">
      </div>

    </div>

  </div>

</footer>